#main{
    color: #000000;
    #main-col{
        float: left;
        width: 65%;
        

    }
    #sidebar {
        float: right;
        width: 30%;
        margin-top: 10px;
        
    }
    .dark {
        padding: 15px;
        background: #35424a;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .quote{
        div{
        margin: 3px 0px;
        padding: 3px 0px;
        }
    }

    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            padding: 20px;
            border: #cccccc solid 1px;
            margin-bottom: 5px;
            background: #e6e6e6;
        }
    }
        
}